// Colors
:root {
  // =------------ COLORS --------------=
  --bg-color: #FCFCFC;
  --white: #ffffff;
  --black: #000000;
  --orange-200: #FFF0E8;
  --orange-500: #EA7530;
  --orange-700: #e86e26;
  --gray-200: #F7F7F7;
  --gray-300: #E5E5E5;
  --gray-500: #898989;
  --gray-700: #2C3137;
  --gray-800: #222529;
  --green: #1BC000;
  --red: #d50101;

  // blur colors
  --gray-blur-200: rgba(255, 255, 255, 0.2);
  --gray-blur-300: rgba(255, 255, 255, 0.3);
  --menu-blur: rgba(6, 6, 6, 0.8);

  // shadow
  --box-shadow: 2px 6px 20px rgba(22, 22, 22, 0.04);

  // lib change
  --swiper-theme-color: var(--orange-500) !important;


  // =--------------- FONT -----------------=
  --font-main: 'Gilroy';
}