@import "design_token";
@import "mixins";
@import "utils";
@import "globals";

// =------------- HERO SECTION ---------------=

//burger menu
.ant-modal-wrap {
  width: 100vw !important;
  height: 100vh !important;
  background-color: var(--menu-blur);
  backdrop-filter: blur(8px);
  overflow: hidden !important;
}

.ant-modal-content {
  margin-inline: auto;
  max-width: max-content;
  margin-top: 15vh;
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.ant-modal-close-btn {
  @include flex-center;
  position: absolute;
  top: -23vh;
  right: -25vw;
  cursor: pointer;

  @include breakpoint-max-768 {
    right: -24vw;
  }

  @include breakpoint-max-568 {
    right: -20vw;
  }

  @include breakpoint-max-480 {
    right: -18vw;
  }
}

.ant-modal-close {
  display: none;
}

.ant-modal-footer {
  display: none;
}

.menu-nav {
  text-align: center;

  &-list {
    > li {
      font-weight: 500;
      font-size: 36px;
      line-height: 44px;
      color: var(--white);
      margin-bottom: 28px;
      cursor: pointer;

      @include breakpoint-max-768 {
        font-size: 28px;
      }
    }

  }
}


#header {
  background-color: transparent;
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 123;
}

.header {
  @include flex-between(center);
  padding-block: 32px;

  @include breakpoint-max-768 {
    padding-block: 18px;
  }

  &-socially {
    @include flex-end(center);
    gap: 20px;

    @include breakpoint-max-768 {
      position: absolute;
      top: 100px;
      right: 20px;
      flex-direction: column;
    }

    @include breakpoint-max-568 {
      right: 16px;
    }

    > a {
      @include flex-center;
      padding: 12px;
      background-color: var(--white);
      border-radius: 100%;
      border: 1px solid var(--gray-300);
      box-shadow: var(--box-shadow);
    }

  }

  &__left {
    @include flex-end(center);
    gap: 20px;

    &-number {
      @include flex-start(flex-start);
      flex-direction: column;
      color: var(--white);
      > h6 {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 6px;

        @include breakpoint-max-568 {
          font-size: 16px;
          margin-bottom: 0;
        }
      }

      > div {
        @include flex-start(center);
        gap: 6px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        @include breakpoint-max-568 {
          font-size: 13px;
        }

        > span {
          @include flex-center;
          @include makeRectangle(6);
          background-color: #1BC000;
          color: transparent;
          border-radius: 100%;
        }
      }
    }

    > .burger__menu {
      cursor: pointer;
      @include flex-start(center);
      margin-left: 64px;
      padding: 12px;
      border-radius: 100%;
      background-color: var(--orange-500);

      @include breakpoint-max-992 {
        margin-left: 0;
      }
    }
  }
}

// =-------------- HERO SECTION ---------------=

#hero {
  > div {
    position: relative;
  }
}

.hero {
  @include flex-between(center);

  @include breakpoint-max-1200 {
    @include flex-start(center);
    flex-direction: column;
  }

  &__left {
    @include maxWidth(560);

    @include breakpoint-max-1200 {
      margin-right: auto;
    }

    > h1 {
      @include breakpoint-max-768 {
        font-size: 48px;
      }

      @include breakpoint-max-480 {
        font-size: 36px;
      }
    }
  }

  &__right {
    @include maxWidth(500);

    @include breakpoint-max-1200 {
      margin-right: auto;
    }
    > p {
      font-weight: 500;
      font-size: 20px;
      line-height: 145%;
      color: #FFFFFF;
      margin-bottom: 22px;

      @include breakpoint-max-768 {
          font-size: 16px;
      }

      @include breakpoint-max-480 {
        font-size: 14px;
      }
    }

    > button {
      margin-bottom: 32px;
    }
  }
}

.hero__text {
  position: absolute;
  inset: auto auto 110px auto;
  width: 100%;
  z-index: 12;
}

.hero__image {
  width: 100%;
  height: 900px;
  object-fit: cover;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// =---------------- WAREHOUSE -------------=

.warehouse {
  margin-bottom: 140px;
  &__top {
    @include flex-between(flex-end);
    margin-bottom: 48px;

    @include breakpoint-max-480 {
      flex-direction: column;
    }

    > h2 {
      @include maxWidth(752);
      margin-top: 140px;
    }

  }

  &-select {
    margin-bottom: 20px;
  }


  &__info {
    position: absolute;
    inset: 24px auto 24px 24px;

    @include breakpoint-max-768 {
      inset: 16px;
    }

    @include breakpoint-max-480 {
      inset: 8px;
    }
  }
}

.ant-select  {
  color: var(--orange-500);
  width: 170px !important;


  &-selector {
    border: 1px solid var(--orange-500) !important;
    height: 64px !important;
    padding: 0 !important;
    box-shadow: none;
    background-color: var(--bg-color) !important;
    outline: none;
  }

  &-selection-item {
    color: var(--orange-500);
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.1 !important;
    padding: 18px !important;
    max-width: 150px !important;
    outline: none;
  }

  &-arrow {
    inset-inline-end: 18px !important;
  }

  &-item-option {
    padding: 12px 30px !important;
    &-content {
      font-family: 'Gilroy';
      font-weight: 500;
      font-size: 16px;
      color: var(--gray-500);
    }

    &-selected {
      font-weight: 600;
      background-color: var(--orange-200) !important;
      > div {
        color: var(--orange-500);
      }
    }
  }
}

.warehouse__bottom {
  position: relative;
  width: 100%;
  height: 726px;
  overflow: hidden;
  border-radius: 16px;
  object-fit: contain;
  object-position: center;
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// =-------------- PROCESS WORK -----------------=

.list__item {
  @include flex-start(flex-start);
  gap: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: var(--gray-500);
  margin-bottom: 6px;
  margin-left: 10px;

  > span {
    margin-top: 4px;
    @include flex-center;
    @include makeRectangle(8);
    background-color: var(--orange-500);
    color: transparent;
    border-radius: 100%;
  }
}

.process {
  width: 100%;
  margin-bottom: 140px;
  > h2 {
    text-align: center;
    margin-bottom: 48px;
  }

  &__grid {
    @include grid(4, 2, 2, 2, 1);
    gap: 24px;

    &-icon {
      @include makeRectangle(54);
      border-radius: 100%;
      padding: 15px;
      background-color: var(--orange-200);
      margin-inline: auto;
      margin-bottom: 16px;
    }


    &-item {
      @include maxWidth(267);
      padding: 20px 40px;
      margin-inline: auto;

       h4 {
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 12px;
      }
    }
  }



}

// =------------ BOXSIZE ----------------=

.tab-wrapper {
  @include flex-center;
  border-radius: 10px;
  padding-block: 38px;
  cursor: pointer;
}
.boxsize {
  margin-bottom: 147px;
  > h2 {
    margin-bottom: 48px;
  }

  &-tabs {
    @include grid(4, 4, 2, 2, 2);
    gap: 24px;
    margin-bottom: 87px;
    @include breakpoint-max-768 {
      gap: 16px;
    }
  }

  &-content {
    @include flex-around(center);

    @include breakpoint-max-568 {
      flex-direction: column-reverse;
    }
  }

  &-info {
    @include maxWidth(433);

    @include breakpoint-max-768 {
      @include maxWidth(300);
    }

    @include breakpoint-max-568 {
      max-width: 100% !important;
      margin-bottom: 45px;
    }

    > div {
      @include flex-start(center);
      gap: 8px;
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 26px;
      line-height: 32px;
      color: var(--orange-500);

      > h4 {
        font-weight: 600;
        font-size: 26px;
        line-height: 31px;
        color: var(--black);

        @include breakpoint-max-768 {
          font-size: 24px;
        }
      }
    }

    > p {
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      color: var(--gray-500);
      margin-bottom: 30px;

      @include breakpoint-max-768 {
        font-size: 16px;
      }
    }

    > h6 {
      font-weight: 600;
      font-size: 26px;
      line-height: 31px;
      margin-bottom: 25px;

      @include breakpoint-max-768 {
        font-size: 18px;
      }
    }

    > button {
      width: 100%;
    }
  }
}

// =---------------- WHY CHOOSE US ---------------=
.whyus {
  margin-bottom: 140px;

  > h2 {
    margin-bottom: 48px;
  }

  &-grid {
    @include grid(3, 2, 2, 1, 1);
    gap: 48px;
    @include breakpoint-max-768 {
      gap: 24px;
    }

    &-item {
      padding: 16px;
      margin-inline: auto;
      @include flex-start(flex-start);
      @include maxWidth(364);
      gap: 20px;

      @include breakpoint-max-768 {
        gap: 16px;
        padding: 12px;
      }

      > span {
        border-radius: 100%;
        background-color: var(--orange-200);
        @include flex-center;
        padding: 15px;
        box-shadow: var(--box-shadow);
      }

      h6 {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
      }

      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: var(--gray-500);
      }
    }
  }
}

// =------------ PICKUP -------------=

#pickup {
  position: relative;
  height: 470px;
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 140px;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.pickup {
  position: absolute;
  inset: 107px 0 0 0;

  &-info {
    > h2 {
      color: var(--white);
      margin-bottom: 10px;
      @include maxWidth(620);
    }

    > p {
      font-weight: 500;
      font-size: 26px;
      line-height: 120%;
      color: var(--white);
      margin-bottom: 30px;
      @include breakpoint-max-768 {
        font-size: 22px;
      }
    }
  }
}

// =--------------- FAQ -----------------=

.faq {
  margin-bottom: 140px;

  > h2 {
    margin-bottom: 64px;
  }
}

// =------------- GALLERY ---------------=

#gallery {
  > h2 {
    margin-bottom: 48px;
  }
}

.gallery {
  margin-bottom: 140px;
  &-img-wrapper {
    margin-inline: auto;
    height: 700px;
    border-radius: 16px;
    overflow: hidden;
    object-fit: cover;

    @include breakpoint-max-992 {
      height: 450px;
      margin-inline: 24px;
    }
  }
}

// =-------------- NEWS ----------------=
.news {
  margin-bottom: 140px;

  > h2 {
    margin-bottom: 48px;
  }

  &-slide {
    &-item {
      width: 100%;
      max-width: 100%;
      object-fit: cover;
      position: relative;
      border-radius: 14px;
      overflow: hidden;

      img {
        width: 100%;
        object-fit: cover !important;
      }

      > div {
        @include flex-start(center);
        gap: 4px;
        position: absolute;
        inset: 16px 16px auto auto;
        padding: 8px 12px;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        border-radius: 6px;
        color: var(--white);
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;

        > span {
          @include flex-center;
        }
      }

      > h5 {
        height: 113px;
        padding: 18px 24px;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(12px);
        border-radius: 0px 0px 14px 14px;
        font-weight: 600;
        font-size: 24px;
        line-height: 130%;
        color: var(--white);
        position: absolute;
        inset: auto 0 0 0;
        @include line-clamp-vertical(2);

        @include breakpoint-max-768 {
          font-size: 20px;
        }
      }
    }


  }
}

// =----------------- CONTACT US --------------=
.contactus {
  margin-bottom: 140px;
  > h2 {
    margin-bottom: 48px;
  }

  &-content {
    @include flex-between(center);
    background: #FFFFFF;
    border: 1px solid var(--gray-200);
    border-radius: 16px;
    overflow: hidden;

    @include breakpoint-max-992 {
      flex-direction: column;
    }
  }

  &-info {
    @include flex-start(flex-start);
    gap: 32px;
    @include maxWidth(464);
    flex-direction: column;
    background-color: var(--gray-800);
    padding: 110px 48px;
    min-width: max-content;

    @include breakpoint-max-992 {
      max-width: 100% !important;
      padding: 48px;
      min-width: 100%;
    }

    @include breakpoint-max-568 {
      padding: 24px;
    }

    &-item {
      @include flex-start(flex-start);
      gap: 20px;
      @include maxWidth(368);

      @include breakpoint-max-992 {
        margin-inline: auto;
      }

      @include breakpoint-max-568 {
        gap: 0;
      }

      > span  {
        @include flex-center;
        margin-top: 16px;
        padding: 15px;
        border-radius: 100%;
        background-color: var(--orange-200);
      }

      > div {
        padding: 16px 37px 16px 0;

        @include breakpoint-max-568 {
          padding: 16px;
        }
        > h4 {
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
          color: var(--white);
          margin-bottom: 8px;

          @include breakpoint-max-568 {
            font-size: 18px;
          }
        }

        > p {
          font-weight: 500;
          font-size: 16px;
          line-height: 130%;
          color: var(--gray-200);
          margin-bottom: 14px;

          @include breakpoint-max-568 {
            font-size: 14px;
          }
        }

        > h6 {
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: var(--orange-500);

          @include breakpoint-max-568 {
            font-size: 15px;
          }
        }
      }
    }
  }
}

#form {
  padding: 96px 98px;

  @include breakpoint-max-1200 {
    padding: 64px;
  }

  @include breakpoint-max-568 {
    padding: 24px;
  }

  > button {
    width: 100%;
    margin-top: 32px;
  }
}

.checkbox-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray-500);

  @include breakpoint-max-568 {
    font-size: 15px;
  }
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--orange-500) !important;
  border-color: var(--orange-500) !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus+.ant-checkbox-inner,
.ant-checkbox-checked:hover {
  border-color: var(--orange-500) !important;
}

.ant-checkbox-indeterminate .ant-checkbox-inner::after {
  background-color: var(--orange-500);
}

:where(.css-dev-only-do-not-override-9ntgx0).ant-checkbox-checked:after {
  border: 2px solid var(--orange-500) !important;
}

// =--------------- FOOTER ---------------=

#footer {
  background-color: var(--gray-800);
}

.footer {
  padding-top: 64px;
  padding-bottom: 48px;
  @include flex-start(flex-start);
  gap: 64px;
  color: var(--gray-200);

  @include breakpoint-max-1200 {
    flex-direction: column;
  }

  &-logo {
    @include maxWidth(320);
    @include breakpoint-max-1200 {
      margin-inline: auto;
      text-align: center;
    }
    > p {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      margin-top: 24px;

      @include breakpoint-max-768 {
        font-size: 15px;
      }
    }
  }

  &-nav {
    width: 100%;
    @include flex-between(flex-start);
    gap: 32px;

    @include breakpoint-max-1200 {
      justify-content: space-around;
    }

    @include breakpoint-max-568 {
      flex-direction: column;
    }

    &-item {
      @include breakpoint-max-568 {
        margin-inline: auto;
        text-align: center;
        margin-bottom: 30px;
      }
      > h6 {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 16px;
        color: var(--gray-500);

        @include breakpoint-max-768 {
          font-size: 13px;
        }
      }

      a {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 12px;
        color: var(--gray-300);

        @include breakpoint-max-768 {
          font-size: 14px;
        }

        &:hover {
          color: var(--gray-500);
        }

      }
    }
  }
}

#copyright {
  background-color: var(--gray-700);
}

.copyright {
  @include flex-between(center);
  background-color: var(--gray-700);
  padding-block: 48px;

  @include breakpoint-max-568 {
    flex-direction: column-reverse;
  }

  > h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);

    @include breakpoint-max-568 {
      font-size: 15px;
    }
  }
  &-socially {
    @include breakpoint-max-568 {
      margin-bottom: 24px;
    }

    > ul {
      @include flex-end(center);
      gap: 24px;

      li:hover {
        svg path {
          transition: all 300ms ease;
          fill: var(--gray-500);
        }
      }
    }
  }
}

