@use 'sass:math';

// =---------------- CONTAINER ------------------=
$breakpoint1450: 1449.98 + px;
$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint568: 567.98 + px;
$breakpoint480: 479.98 + px;

// ------------------ flex -------------------

@mixin flex($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-around($align) {
  display: flex;
  align-items: $align;
  justify-content: space-around;
}

@mixin flex-evenly($align) {
  display: flex;
  align-items: $align;
  justify-content: space-evenly;
}

@mixin flex-between($align) {
  display: flex;
  align-items: $align;
  justify-content: space-between;
}

@mixin flex-end($align) {
  display: flex;
  align-items: $align;
  justify-content: flex-end;
}

@mixin flex-start($align) {
  display: flex !important;
  align-items: $align !important;
  justify-content: flex-start !important;
}

// -------------------- width -------------------

@mixin width($width) {
  max-width: $width+px;
  min-width: $width+px;
}

@mixin maxWidth($width) {
  max-width: $width+px !important;
  width: 100%;
}

@mixin makeRectangle($width-height) {
  width: $width-height+px;
  min-width: $width-height+px;
  height: $width-height+px;
  min-height: $width-height+px;
}

// ------------------ grid ---------------------

@mixin grid($b1450, $b992, $b768, $b568, $b480  ) {
  display: grid;
  grid-template-columns: repeat($b1450, 1fr);
  gap: 18px;

  @media (max-width: $breakpoint1450) {
    grid-template-columns: repeat($b1450, 1fr);
  }
  @media (max-width: $breakpoint992) {
    grid-template-columns: repeat($b992, 1fr);
  }
  @media (max-width: $breakpoint768) {
    grid-template-columns: repeat($b768, 1fr);
  }
  @media (max-width: $breakpoint568) {
    grid-template-columns: repeat($b568, 1fr);
  }
  @media (max-width: $breakpoint480) {
    grid-template-columns: repeat($b480, 1fr);
  }
}


@mixin debugging {
  outline: 1px solid green !important;
  background-color: rgba(0, 128, 0, 0.1) !important;
  color: #ffffff !important;
  border: transparent;
}

@mixin line-clamp($clamp, $box-orient) {
  display: -webkit-box;
  -webkit-line-clamp: $clamp;
  -webkit-box-orient: $box-orient;
  overflow: hidden;
}

@mixin line-clamp-vertical($clamp) {
  display: -webkit-box;
  -webkit-line-clamp: $clamp;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// =--------------- MEDIA QUERY max -------------------=
@mixin breakpoint-max-480 {
  @media (max-width: $breakpoint480) {
    @content
  }
}

@mixin breakpoint-max-568 {
  @media (max-width: $breakpoint568) {
    @content
  }
}

@mixin breakpoint-max-768 {
  @media (max-width: $breakpoint768) {
    @content
  }
}


@mixin breakpoint-max-992 {
  @media (max-width: $breakpoint992) {
    @content
  }
}

@mixin breakpoint-max-1200 {
  @media (max-width: $breakpoint1200) {
    @content
  }
}

@mixin breakpoint-max-1450 {
  @media (max-width: $breakpoint1450) {
    @content
  }
}

// =--------------- MEDIA QUERY min -------------------=

@mixin breakpoint-min-480 {
  @media (min-width: $breakpoint480) {
    @content
  }
}

@mixin breakpoint-min-568 {
  @media (min-width: $breakpoint568) {
    @content
  }
}

@mixin breakpoint-min-768 {
  @media (min-width: $breakpoint768) {
    @content
  }
}


@mixin breakpoint-min-992 {
  @media (min-width: $breakpoint992) {
    @content
  }
}

@mixin breakpoint-min-1450 {
  @media (min-width: $breakpoint1450) {
    @content
  }
}